#form {
    margin-bottom: 20px;
}

.location {
  float: left;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.location p {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.zip {
    font-size: 2em;
}

.temp {
    font-size: 4em;
}
